<div class="container">
  <h1 class="mb-5">{{title}}</h1>

  <div class="card mb-2">
    <div class="card-body">
      <form [formGroup]="tarefaForm" class="form-inline d-flex justify-content-center" (submit)="inserirTarefa($event)">
        <label for="inputCategoria">Categoria</label>
        <select formControlName="categoria" id="inputCategoria" class="form-control mx-sm-3">
          <option *ngFor="let categoria of categorias" [value]="categoria.id">{{categoria.nome}}</option>
        </select>
        <div class="form-group">
          <label for="inputDescricao">Descrição</label>
          <input formControlName="descricao" type="text" class="form-control mx-sm-3" id="inputDescricao" value="" placeholder="Descrição">
        </div>
        <div class="form-group mx-sm-3">
          <label for="inputDataLimite">Data Limite</label>
          <input formControlName="data_limite" type="date" class="form-control mx-sm-3" id="inputDataLimite" placeholder="Data Limite">
        </div>
        <input formControlName="concluido" type="hidden" class="form-control mx-sm-3" id="inputconcluido" placeholder="concluido">
        <button type="submit" class="btn btn-primary">Inserir</button>
      </form>
    </div>
  </div>

  <div class="text-left mt-3 mb-3">
      <i class="fa fa-search mr-1"></i>
      <input
        class="rounded"
        type="search"
        placeholder="Buscar tarefas..."
        (keyup)="filter = $event.target.value"
      >
  </div>
  <todo-tarefa-list [tarefas]="tarefas | filtrarPorDescricao: filter"></todo-tarefa-list>

</div>